fastapi
uvicorn
pydantic
python-dotenv
sqlalchemy
google-auth
google-auth-oauthlib
google-auth-httplib2
google-auth-library
nbformat
nbconvert
langchain
langchain-google-genai
markdown
gitpython
google-generativeai
httpx
requests
