transformers>=4.40.0
torch>=2.1.0
nbformat>=5.9.0
nbconvert>=7.14.2
langchain>=0.2.0
langchain-google-genai>=0.0.9
google-generativeai>=0.4.1
python-dotenv>=1.0.1
gitpython>=3.1.40
markdown>=3.5.2
google-auth
psycopg2-binary
fastapi
uvicorn
pydantic
sqlalchemy
google-auth-oauthlib
google-auth-httplib2
google-auth
httpx
requests

